 html,
 body {
     background-color: black;
     height: 100%;
 }
 
 .navTitle {
     display: flex;
     justify-content: center;
     width: 100%;
     padding: 5px;
     margin-left: 20px;
     right: 20px;
     margin-top: 3px;
     font-size: 150%;
     font-weight: bold;
 }
 
 .navbar-menu {
     margin-left: 20px;
 }
 
 .button.is-primary {
     background-color: black;
     color: red;
 }
 
 .button.is-primary:hover {
     background-color: red;
     color: black;
 }
 
 .navbar,
 .navbar-menu,
 .navbar-end,
 .navbar-dropdown,
 .navbar-link {
     background-color: black;
     color: #E50914;
     font-weight: bold;
 }
 
 .navbar-item:hover,
 .navbar-link:hover,
 .navbar-dropdown:hover,
 .navbar-menu:hover {
     color: white;
 }
 
 .bulmaLink,
 .bulmaLink:hover {
     background-color: #E50914 !important;
     border-radius: 10px;
     margin-top: 10px;
 }
 
 .navLink:hover {
     color: white !important;
     background-color: #E50914 !important;
 }
 
 .navHome {
     color: #E50914;
 }
 
 .navHome:hover {
     color: white !important;
 }
 
 a.navLink {
     color: red !important;
 }
 
 .navbar-link:not(.is-arrowless)::after,
 .select:not(.is-multiple):not(.is-loading)::after {
     border: none;
 }
 
 .dropdownBackground {
     border-left: 2px solid red;
     border-right: 2px solid red;
     border-bottom: 2px solid red;
 }
 
 .container {
     box-sizing: 35px;
     width: 500px;
     justify-content: center;
 }
 
 .container2 {
     box-sizing: 35px;
     width: 500px;
 }
 
 .card {
     box-shadow: 8px 8px 15px #E50914;
 }
 
 .columns {
     display: grid;
     justify-content: center;
     align-content: center;
 }
 
 button {
     padding: 5px;
     border-radius: 15px;
     font-size: 15px;
     color: red;
     font-weight: bold;
     background-color: black;
     justify-content: center;
 }
 
 .buttonHomeBot {
     text-align: center;
     padding: 5px;
 }
 
 .footer {
     background-color: black;
     justify-content: center;
     text-align: center;
     margin-top: 10px;
     margin-bottom: 1px;
     padding-top: 20px;
     left: 24px;
     right: 24px;
 }
 
 .database {
     color: red;
     font-size: small;
 }
 
 .databaseName {
     color: red;
     font-size: small;
 }
 
 .content {
     color: red;
     font-weight: bold;
     max-height: 350px;
     overflow: auto;
 }
 
 .buttonHomeTop {
     text-align: center;
     margin-top: 8px;
     padding: 5px;
 }
 
 .bulmaFooter {
     width: fit-content;
     margin: auto;
 }
