html,
body {
    background-color: black;
    height: 100%;
}

.container {
    box-sizing: 35px;
    width: 500px;
    justify-content: center;
}

.container2 {
    box-sizing: 35px;
    width: 500px;
}

.columns {
    display: grid;
    justify-content: center;
    align-content: center;
}

button {
    border-radius: 15px;
    font-size: 15px;
    color: red;
    font-weight: bold;
    background-color: black;
    justify-content: center;
}

.buttonHome {
    text-align: center;

}

.footer {
    background-color: black;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1px;
    padding-top: 20px; left: 24px; right: 24px;
}

.database {
    color: red;
    font-size:small;
}

.databaseName {
    color: red;
    font-size:small;
}

.content {
    color: red;
    font-weight: bold;
}
