html,
body {
    height: 100%;
    background-color: white;
}


.navTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin-left: 20px; right: 20px;
    margin-top: 3px;
    font-size: 150%;
    font-weight: bold;
}

.navbar-menu {
    margin-left: 20px;
}

.button.is-primary {
    background-color: #333;
    border-color: transparent;
    color: rgb(255, 255, 255);
}

.button {

    color: #1DA1F2;
}

.navbar,
.navbar-menu,
.navbar-end,
.navbar-item,
.navbar-dropdown,
.navbar-link {
    background-color: white;
    color: #E50914;
    font-weight: bold;
}

.inputHolder {
    padding: 10px;
    margin-left: 100px;right: 100px;
    border: 3px solid #E50914;
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 8px 15px #E50914;
}

.inputTitle {
    color: #E50914;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
}

.subtitle {
    color: #E50914;
    font-weight: bold;
    text-align: center;
}

.is-three-fifths {
    margin-top: 100px;
}

.input {
    display: flex;
    margin: auto;
    margin-top: 4px;
    padding: 10px;
    width: 30%;
    border: 3px solid #E50914;
    background-color: white;
    color: #E50914;
}

.select {
    display: flex;
    margin: auto;
    color: #E50914;
}

.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
    border: none;
}



#genreSel {
    display: flex;
    margin: auto;
    width: 30%;
    border: 3px solid #E50914;
    background-color: white;
    color: #E50914;
}

.searchBtn {
    display: flex;
    margin: auto;
    margin-top: 4px;
    padding: 10px;
    border: 3px solid #E50914;
    background-color: white;
    color: #E50914;
}

footer {
    bottom: 0px;
    margin-top: 175px;
    padding: 10px;
    text-align: center;
    color: #E50914;
    font-weight: bold;
}