html,
body {
    background-color: black;
    height: 100%;
}


.navTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin-left: 20px; right: 20px;
    margin-top: 3px;
    font-size: 150%;
    font-weight: bold;
}

.navbar-menu {
    margin-left: 20px;
}

.button.is-primary {
    background-color: #333;
    border-color: transparent;
    color: rgb(255, 255, 255);
}

.button {
    color: #1DA1F2;
}

.navbar,
.navbar-menu,
.navbar-dropdown,
.navbar-link {
    background-color: black;
    color: #E50914;
    font-weight: bold;
}

.navbar-item:hover,
.navbar-link:hover,
.navbar-dropdown:hover,
.navbar-menu:hover {
    color: white;
}

a.bulmaLink,
a.bulmaLink:hover {
    background-color: #E50914 !important;
    border-radius: 10px;
}

.inputHolder {
    padding: 10px;
    margin: auto;
    border: 3px solid #E50914;
    background-color: black;
    border-radius: 10px;
    box-shadow: 8px 8px 15px #E50914;
}

.inputTitle {
    color: #E50914;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
}

.subtitle {
    color: #E50914;
    font-weight: bold;
    text-align: center;
}

.is-three-fifths {
    margin-top: 100px;
}

.input {
    display: flex;
    margin: auto;
    margin-top: 4px;
    padding: 10px;
    width: 30%;
    border: 3px solid #E50914;
    background-color: white;
    color: #E50914;
}

.select {
    display: flex;
    margin: auto;
    color: #E50914;
}

.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
    border: none;
}

#genreSel {
    display: flex;
    margin: auto;
    width: 30%;
    border: 3px solid #E50914;
    background-color: white;
    color: #E50914;
}

.searchBtn {
    display: flex;
    margin: auto;
    margin-top: 4px;
    padding: 10px;
    border: 3px solid #E50914;
    background-color: black;
    color: #E50914;
    font-weight: bold;
}

.footer {
    background-color: black;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1px;
    padding-top: 20px; left: 24px; right: 24px;
}

.database {
    color: red;
    font-size:small;
}

.databaseName {
    color: red;
    font-size:small;
}

.navLink:hover {
    color: white !important;
    background-color: #E50914 !important;
}

.navHome {
    color: #E50914;
<<<<<<< HEAD
    font-weight: bold;
}

.navbar-item :hover{
color:white !important;
}

.navbar-dropdown {
box-shadow: 10px 10px 14px 0px rgba(229,9,20,0.75);
-webkit-box-shadow: 10px 10px 14px 0px rgba(229,9,20,0.75);
-moz-box-shadow: 10px 10px 14px 0px rgba(229,9,20,0.75);
=======
}

.navHome:hover {
    color: white !important;
}

a.navLink {
    color: red !important;
}

.bulmaFooter {
    width: fit-content;
    margin: auto;
>>>>>>> 6e7b285fa8f97dfbb01d60429849f2eed7a971ee
}